html body {
	font-size:100%;
    font-family: Bradley Hand, cursive, sans-serif;
    background-color: #6495ed;
    padding-top: 90px;
}

#who, #cigogne, #event, #event-2, #find-us, #about  {
    background-color: lightgray; 
    border-radius: 20px; 
    margin:30px;
    padding: 20px; 
}
nav, footer {
    background-color: lightgray;
}

#book, #think, #connexion, #date {
    height: 300px;
    width: auto;
}
#train, #car {
    height: 200px;
    width: auto;
}

#collapseOne, #collapseTwo, #collapseThree {
    background-color: #6495ed;
}

/*  * {
    border: 1px solid red;
}     */

